<%- include("header", {}) %>
<link rel="stylesheet" href="/estilo.css"> <!-- CSS -->

<h1><%= title %></h1>
<form method="post" action="/registro"> <!-- LA PAGINA oninput(en linea) -->
    <table id="tabla" border="6">
        <tr>
            <th>Datos</th>
            <th>Rellenar</th>
        </tr> 
        <tr>
            <td><label for="user"><strong>Username:</strong></label> </td><!-- pinchar el nombre "for" y llevarnos -->
            <td><input required type="text" id="user" name="user" title="nombre de usuario"></td>
        </tr>
        <tr>
            <td><label for="pass"><strong>Password:</strong></label> </td>
            <td><input required minlength=8 type="password" id="pass" name="pass" title="longitud minima de 8 caracteres"></td>
        </tr>
        <tr>
            <td><label for="rep_pass"><strong>Repeat Password:</strong></label>
            <td><input required minlength=8 type="password" id="rep_pass" name="rep_pass" title="asegurese de que las contraseñas coinciden"></td>
        </tr>
    </table>
    <!--
    <label for="user">Username:</label>  pinchar el nombre "for" y llevarnos 
    <input required type="text" id="user" name="user" title="nombre de usuario"><br>
    <label for="pass">Password:</label>
    <input required minlength=8 type="password" id="pass" name="pass" title="longitud minima de 8 caracteres"><br>
    <label for="rep_pass">Repeat Password:</label>
    <input required minlength=8 type="password" id="rep_pass" name="rep_pass" title="asegurese de que las contraseñas coinciden"></input><br>
    -->
    </table>
    <span id="span" style="color: red;"></span><br>
    <!--<p id="qq" style="color: red;"></p><br>-->
    <button id="btn" type="submit">Submit</button>
    <input id="reset" type="reset" value="Reset"> <!-- Reseteo -->
</form>
<script type="text/javascript" src="/validacion_cliente.js"></script> <!-- se declara publico en la línea 23 de app -->

<%- include("footer", {}) %></br>